# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# compiled output
./small-chat-backend/dist
./small-chat-backend/node_modules
./small-chat-backend/libs/graphql/schema.gql

# OS
.DS_Store

# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json



