# OS
.DS_Store

# Tests
/build.sh
/coverage
/.nyc_output

#chat-service
chat-service/dist
chat-service/node_modules
chat-service/libs/graphql/schema.gql

# OS
.DS_Store

# IDEs and editors
.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json



