# OS
.DS_Store

# Tests
/build.sh
/coverage
/.nyc_output

#chat-service
chat-service/dist
chat-service/node_modules
chat-service/libs/graphql/schema.gql

#chat-backend
chat-backend/HELP.md
chat-backend/.gradle
chat-backend/build/
chat-backend/!gradle/wrapper/gradle-wrapper.jar
chat-backend/!**/src/main/**/build/
chat-backend/!**/src/test/**/build/
chat-backend/
chat-backend/### IntelliJ IDEA ###
chat-backend/.idea
chat-backend/*.iws
chat-backend/*.iml
chat-backend/*.ipr
chat-backend/out/
chat-backend/!**/src/main/**/out/
chat-backend/!**/src/test/**/out/


# OS
.DS_Store

# IDEs and editors
.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json



