version: "3.8"
services:
#  api-gateway:
#    build:
#      context: api-gateway/
#    image: seonba/api-gateway
#    container_name: api-gateway
#    ports:
#      - "80:80"
#    networks:
#      - small-chat
  mongodb:
    image: mongo:8.0
    networks:
      - small-chat
    restart: always
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      #      - MONGO_INITDB_ROOT_USERNAME=root
      #      - MONGO_INITDB_ROOT_PASSWORD=root
      - MONGODB_DATABASE="small_chat"
  mongo-express:
    image: mongo-express:1.0.2-20-alpine3.19
    networks:
      - small-chat
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      #      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      #      - ME_CONFIG_MONGODB_ADMINPASSWORD=root
      - ME_CONFIG_MONGODB_SERVER=mongodb
    links:
      - mongodb
    depends_on:
      - mongodb
#  chat-client:
#    container_name: chat-client
#    image: seonba/chat-client
#    ports:
#      - "3000:3000"
#    networks:
#      - small-chat
#    restart: always
#    environment:
#      - REACT_APP_API_URL:http://api-gateway/api
#      - REACT_APP_SOCKET_API_URL:http://api-gateway
#    depends_on:
#      - chat-service
#  chat-service:
#    build:
#      context: chat-service/
#    image: seonba/chat-service
#    container_name: chat-service
#    ports:
#      - "3010:3010"
#    networks:
#      - small-chat
#    restart: always
#  chat-backend:
##    platform: linux/arm64
#    build:
#      context: chat-backend/
#    image: seonba/chat-backend
#    container_name: chat-backend
#    ports:
#      - "8080:8080"
#    networks:
#      - small-chat
#    environment:
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/small_chat
#      - SPRING_DATASOURCE_USERNAME=postgres
#      - SPRING_DATASOURCE_PASSWORD=postgres
#      - SPRING_JPA_HIBERNATE_DDL_AUTO=none
#      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/small_chat
#    restart: always
#    depends_on:
#      - postgres
  postgres:
    container_name: small-chat-db
    image: postgres:16-alpine
    ports:
      - "15432:5432"
    restart: always
    networks:
      - small-chat
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=small_chat
  pubsub:
    image: redis:6.2.4-alpine
    container_name: redis_pubsub
    networks:
      - small-chat
    hostname: redis
    ports:
      - "6379:6379"
    restart: always
  rabbitmq:
    image: rabbitmq:3-management
    container_name: message_broker
    ports:
      - "5672:5672"
      - "15672:15672"

networks:
  small-chat:
    driver: bridge
